<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>掲示板</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
    <h1>掲示板</h1>
    </header>

    <main>
    
    <form action="/" method="post" id="toukou-form">
        <input type="text" name="name" placeholder="名前"><br>
        <textarea name="body" rows="3"></textarea><br>
        <div class="submit"><input type="submit" value="送信"></div>
    </form>

    <div id="bbs">
        {% for toukou in toukous %}
        <div class="toukou">
            <div class="toukou-info">
                <span class="toukou-name">{{toukou.name}}</span>
                <span class="toukou-hi">{{toukou.hi}}</span>
            </div>
            <div class="toukou-body">{{toukou.body}}</div>
        </div>
        {% endfor %}
    </div>

    </main>

</body>
</html>